body {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.box {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 25px;
}